<ion-header>
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form>
      <br>
      <ion-input type="text" label="RUT" labelPlacement="stacked" fill="outline"></ion-input>
      <br>
      <ion-input type="text" label="Nombre" labelPlacement="stacked" fill="outline"></ion-input>
      <br>
      <ion-input type="date" label="Fecha de nacimiento" labelPlacement="stacked" fill="outline"></ion-input>
      <ion-select label="Género" labelPlacement="stacked">
        <ion-select-option>Masculino</ion-select-option>
        <ion-select-option>Femenino</ion-select-option>
        <ion-select-option>Otro</ion-select-option>
      </ion-select>
    </form>
    <ion-button size="block" color="warning">Registrar</ion-button>
  </ion-card>
</ion-content>
